---
import { Layout } from "@globals"
const responsetype = "token"
const clientid = "0c6fcbf8139a44169dc314962080c42e"
const redirect_uri = "https://aubigo-flow.vercel.app/callback"
const scope = "user-read-private user-read-email"
---

<Layout title="Login">
	<h1>Login</h1>

	<a
		class="bg-white px-5 py-3 rounded-full"
		href=`https://accounts.spotify.com/authorize?response_type=${responsetype}&client_id=${clientid}&redirect_uri=${redirect_uri}&scope=${scope}`
		>Login</a
	>
</Layout>
