---
// Component imports
import { Layout } from "@globals"
---

<Layout title="Home">
	<main class="h-screen w-full bg-zinc-950 text-zinc-50">
		<header class="h-[10%] flex items-center justify-between px-[3%]">
			<nav>
				<h1 class="text-3xl font-black">Good morning</h1>
			</nav>
			<nav>
				<button class="h-[50px] w-[50px] rounded-full bg-zinc-800"> </button>
			</nav>
		</header>
		<section class="h-[35%] mt-[5%] px-[3%]">
			<h1 class="text-xl font-semibold">Followed artists</h1>
			<div class="mt-[4%] flex items-center gap-[8%] overflow-x-hidden">
				<nav class="text-center">
					<button class="h-[100px] w-[100px] rounded-full bg-zinc-800"></button>
					<p>Artist name</p>
				</nav>
				<nav class="text-center">
					<button class="h-[100px] w-[100px] rounded-full bg-zinc-800"></button>
					<p>Artist name</p>
				</nav>
				<nav class="text-center">
					<button class="h-[100px] w-[100px] rounded-full bg-zinc-800"></button>
					<p>Artist name</p>
				</nav>
				<nav class="text-center">
					<button class="h-[100px] w-[100px] rounded-full bg-zinc-800"></button>
					<p>Artist name</p>
				</nav>
			</div>
		</section>
		<section class="px-[3%]">
			<nav class="flex items-center justify-between">
				<h1 class="text-xl font-semibold">Best playlists</h1>
				<button class="px-2 py-1 text-sm bg-zinc-800 rounded-full"
					>See all</button
				>
			</nav>
			<div
				class="mt-[4%] flex items-center gap-5 overflow-x-hidden justify-between"
			>
				<nav class="text-left">
					<button class="h-[150px] w-[180px] rounded-xl bg-zinc-800"></button>
					<p class="font-medium">Playlist name</p>
					<p class="text-zinc-300">Artist name</p>
				</nav>
				<nav class="text-left">
					<button class="h-[150px] w-[180px] rounded-xl bg-zinc-800"></button>
					<p class="font-medium">Playlist name</p>
					<p class="text-zinc-300">Artist name</p>
				</nav>
				<nav class="text-left">
					<button class="h-[150px] w-[180px] rounded-xl bg-zinc-800"></button>
					<p class="font-medium">Playlist name</p>
					<p class="text-zinc-300">Artist name</p>
				</nav>
			</div>
		</section>
		<section class="px-[3%] pt-[8%]">
			<nav class="flex items-center justify-between">
				<h1 class="text-xl font-semibold">Daily news</h1>
				<button class="px-2 py-1 text-sm bg-zinc-800 rounded-full"
					>See all</button
				>
			</nav>
			<div
				class="mt-[4%] pb-[5%] flex items-center gap-5 overflow-x-hidden justify-between"
			>
				<nav
					class="text-left h-[100px] flex items-center justify-between w-full"
				>
					<nav class="flex gap-5 w-11/12 items-center">
						<nav>
							<button class="h-[90px] w-[90px] rounded-xl bg-zinc-800"></button>
						</nav>
						<nav>
							<p class="font-medium">Playlist name</p>
							<p class="text-zinc-300">Artist name</p>
						</nav>
					</nav>
					<nav class="h-full w-1/12 flex items-center justify-center">
						<button>
							<svg
								class="h-[20px] w-[20px] fill-zinc-300"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
							>
								<g>
									<path fill="none" d="M0 0h24v24H0z"></path>
									<path
										d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
									></path>
								</g>
							</svg>
						</button>
					</nav>
				</nav>
			</div>
		</section>
		<footer
			class="bottom-0 fixed h-[100px] flex items-center justify-between px-[3%] w-full left-0 rounded-t-2xl bg-zinc-950"
		>
			<nav class="text-center flex items-center justify-center flex-col">
				<svg
					class="h-[20px] w-[20px] fill-zinc-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path
							d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zM6 19h12V9.157l-6-5.454-6 5.454V19zm6-4a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z"
						></path>
					</g>
				</svg>

				<p>Home</p>
			</nav>
			<nav>
				<p>Artists</p>
			</nav>
			<nav>
				<p>Search</p>
			</nav>
			<nav>
				<p>Profile</p>
			</nav>
		</footer>
	</main>
</Layout>
