<div class="mt-[4%] flex items-center gap-5 overflow-x-scroll justify-between">
	<nav class="text-left">
		<button class="h-[150px] w-[180px] rounded-xl bg-zinc-800"></button>
		<p class="font-medium">Playlist name</p>
		<p class="text-zinc-300">Artist name</p>
	</nav>
	<nav class="text-left">
		<button class="h-[150px] w-[180px] rounded-xl bg-zinc-800"></button>
		<p class="font-medium">Playlist name</p>
		<p class="text-zinc-300">Artist name</p>
	</nav>
	<nav class="text-left">
		<button class="h-[150px] w-[180px] rounded-xl bg-zinc-800"></button>
		<p class="font-medium">Playlist name</p>
		<p class="text-zinc-300">Artist name</p>
	</nav>
</div>
