<div class="h-[60px] bg-zinc-700 w-full rounded px-5 flex items-center">
	<nav class="w-1/12">
		<p>01</p>
	</nav>
	<nav class="w-2/12">
		<p class="h-[50px] w-[50px] bg-zinc-600 rounded"></p>
	</nav>
	<nav class="w-7/12">
		<p>title music</p>
	</nav>
	<nav class="w-2/12">
		<p>1111</p>
	</nav>
</div>
