<nav
	class="h-[250px] w-[260px] flex items-center justify-center flex-col gap-3"
>
	<nav class="h-[200px] w-[260px] bg-red-400 rounded-md shadow-xl relative">
		<p
			class="absolute text-2xl font-semibold bg-black/10 backdrop-blur-sm hover:bg-white/10 transition top-0 left-0 h-full w-full flex items-center justify-center"
		>
			Top 50
		</p>
	</nav>
	<nav class="text-center">
		<h3 class="font-semibold">When the man decide to fall</h3>
		<p>83, 938 followers</p>
	</nav>
</nav>
