<div
	class="mt-[4%] pb-[5%] flex items-center gap-5 overflow-x-hidden justify-between"
>
	<nav class="text-left h-[100px] flex items-center justify-between w-full">
		<nav class="flex gap-5 w-11/12 items-center">
			<nav>
				<button class="h-[90px] w-[90px] rounded-xl bg-zinc-800"></button>
			</nav>
			<nav>
				<p class="font-medium">Playlist name</p>
				<p class="text-zinc-300">Artist name</p>
			</nav>
		</nav>
		<nav class="h-full w-1/12 flex items-center justify-center">
			<button>
				<svg
					class="h-[20px] w-[20px] fill-zinc-300"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path
							d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
						></path>
					</g>
				</svg>
			</button>
		</nav>
	</nav>
</div>
