---
import MenuLi from "./MenuLi"
---

<section class="bg-zinc-950 h-full w-[20%]">
	<nav class="h-[15%] flex items-center px-[6%]">
		<h1 class="text-xl font-black">
			Aubigo <span
				class="bg-gradient-to-tr from-orange-500 to-rose-500 text-transparent bg-clip-text"
				>flow</span
			>
		</h1>
	</nav>
	<nav class="h-[85%]">
		<nav class="px-[6%]">
			<h3 class="font-bold">Browse Music</h3>
		</nav>
		<div class="my-5">
			<MenuLi>
				<svg
					class="h-[20px] w-[20px] fill-zinc-100 transition group-hover:scale-110 group-hover:fill-orange-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path
							d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zM6 19h12V9.157l-6-5.454-6 5.454V19zm6-4a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z"
						></path>
					</g>
				</svg>

				<span
					class="font-medium group-hover:text-orange-500 transition delay-100"
					>Home</span
				>
			</MenuLi>
			<MenuLi>
				<svg
					class="h-[20px] w-[20px] fill-zinc-100 transition group-hover:scale-110 group-hover:fill-orange-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path d="M2 9h2v12H2V9zm6-6h2v18H8V3zm6 9h2v9h-2v-9zm6-6h2v15h-2V6z"
						></path>
					</g>
				</svg>

				<span
					class="font-medium group-hover:text-orange-500 transition delay-100"
					>My feed</span
				>
			</MenuLi>
			<MenuLi>
				<svg
					class="h-[20px] w-[20px] fill-zinc-100 transition group-hover:scale-110 group-hover:fill-orange-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path
							d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26zm0-2.292l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275l-2.038 4.42-4.833.572 3.573 3.305-.949 4.773L12 15.968z"
						></path>
					</g>
				</svg>

				<span
					class="font-medium group-hover:text-orange-500 transition delay-100"
					>Recommandations</span
				>
			</MenuLi>
			<MenuLi>
				<svg
					class="h-[20px] w-[20px] fill-zinc-100 transition group-hover:scale-110 group-hover:fill-orange-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path
							d="M13 3v7.267l6.294-3.633 1 1.732-6.293 3.633 6.293 3.635-1 1.732L13 13.732V21h-2v-7.268l-6.294 3.634-1-1.732L9.999 12 3.706 8.366l1-1.732L11 10.267V3z"
						></path>
					</g>
				</svg>

				<span
					class="font-medium group-hover:text-orange-500 transition delay-100"
					>New releases</span
				>
			</MenuLi>
		</div>
		<nav class="px-[6%]">
			<h3 class="font-bold">Your music</h3>
		</nav>
		<div class="my-5">
			<MenuLi>
				<svg
					class="h-[20px] w-[20px] fill-zinc-100 transition group-hover:scale-110 group-hover:fill-orange-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0H24V24H0z"></path>
						<path
							d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228 2.349-2.109 5.979-2.039 8.242.228zM5.172 6.172c-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454-1.487-1.49-3.881-1.562-5.453-.186l-4.202 4.203-1.415-1.414 2.825-2.827-.082-.069c-1.575-1.265-3.877-1.157-5.328.295z"
						></path>
					</g>
				</svg>

				<span
					class="font-medium group-hover:text-orange-500 transition delay-100"
					>Favorites</span
				>
			</MenuLi>
			<MenuLi>
				<svg
					class="h-[20px] w-[20px] fill-zinc-100 transition group-hover:scale-110 group-hover:fill-orange-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0H24V24H0z"></path>
						<path
							d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12h2c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8C9.536 4 7.332 5.114 5.865 6.865L8 9H2V3l2.447 2.446C6.28 3.336 8.984 2 12 2zm1 5v4.585l3.243 3.243-1.415 1.415L11 12.413V7h2z"
						></path>
					</g>
				</svg>

				<span
					class="font-medium group-hover:text-orange-500 transition delay-100"
					>History</span
				>
			</MenuLi>
		</div>
		<nav class="px-[6%] flex items-center justify-between">
			<h3 class="font-bold">Your playlists</h3>
			<button
				class="h-[40px] w-[40px] flex items-center justify-center rounded-full bg-zinc-900"
			>
				<svg
					class="h-[20px] w-[20px] fill-zinc-50"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
					</g>
				</svg>
			</button>
		</nav>
		<div class="mt-5">
			<MenuLi>
				<svg
					class="h-[20px] w-[20px] fill-zinc-100 transition group-hover:scale-110 group-hover:fill-orange-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
				>
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path
							d="M2 18h10v2H2v-2zm0-7h14v2H2v-2zm0-7h20v2H2V4zm17 11.17V9h5v2h-3v7a3 3 0 1 1-2-2.83z"
						></path>
					</g>
				</svg>

				<span
					class="font-medium group-hover:text-orange-500 transition delay-100"
					>Loves</span
				>
			</MenuLi>
		</div>
	</nav>
</section>
